#page-post-detail{

  section{
    article.post-detail{
      max-width:  (100% / 5)*3;
      margin: auto;

      img{
        max-width: 100%;

        &.post-detail__main-img{
          height: 450px;
          object-fit: cover;
          width: 100%;
          margin-bottom: 4rem;
        }
      }

      div.post-detail__text{

        h2{
          margin-top:3rem;
        }
      }
    }
  }
}