<%- include('includes/header.html')%>
<main id="page-index">
    <div class="container">
        <section class="post-content">
            <div class="post-content__large"></div>
            <div class="post-content__small"></div>

        </section>

        <div class="interest-and-side">
            <section class="post-interest">
                <div class="title">
                    <h2>QUIZAS TE PUEDA INTERESAR…</h2>
                </div>

                <div class="post-interent__content"></div>
            </section>

            <aside class="post-top">
                <h2>ARTÍCULOS MÁS LEIDOS</h2>

                <article class="post post--top">
                    <div class="post__author-img">
                        <img src="./assets/img/author.png" alt="Name">
                    </div>
                    <div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p class="author-name">Apellido del autor</p>
                            <div class="post__icons">
                                <span class="icon-calendar">13 Febr 2018</span>
                                <a  href="" class="icon-comments">23</a>
                                <a  href="" class="icon-heart"></a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post post--top">
                    <div class="post__author-img">
                        <img src="./assets/img/author.png" alt="Name">
                    </div>
                    <div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p class="author-name">Apellido del autor</p>
                            <div class="post__icons">
                                <span class="icon-calendar">13 Febr 2018</span>
                                <a  href="" class="icon-comments">23</a>
                                <a  href="" class="icon-heart"></a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post post--top">
                    <div class="post__author-img">
                        <img src="./assets/img/author.png" alt="Name">
                    </div>
                    <div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p class="author-name">Apellido del autor</p>
                            <div class="post__icons">
                                <span class="icon-calendar">13 Febr 2018</span>
                                <a  href="" class="icon-comments">23</a>
                                <a  href="" class="icon-heart"></a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post post--top">
                    <div class="post__author-img">
                        <img src="./assets/img/author.png" alt="Name">
                    </div>
                    <div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p class="author-name">Apellido del autor</p>
                            <div class="post__icons">
                                <span class="icon-calendar">13 Febr 2018</span>
                                <a  href="" class="icon-comments">23</a>
                                <a  href="" class="icon-heart"></a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post post--top">
                    <div class="post__author-img">
                        <img src="./assets/img/author.png" alt="Name">
                    </div>
                    <div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p class="author-name">Apellido del autor</p>
                            <div class="post__icons">
                                <span class="icon-calendar">13 Febr 2018</span>
                                <a  href="" class="icon-comments">23</a>
                                <a  href="" class="icon-heart"></a>
                            </div>
                        </div>
                    </div>
                </article>

            </aside>

        </div>

        <div class="pagination">
            <ul>
                <li><a href="#">Previo</a></li>
                <li><a href="#">1</a></li>
                <li><span>2</span></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Siguiente</a></li>
            </ul>
        </div>

    </div>
</main>

<%- include('includes/footer.html')%>