<%- include('includes/header.html')%>

<main id="page-index">
    <div class="container">
        <section class="post-content">
            <div class="post-content__large">
                <article class="post post--large">
                    <div class="post__img">
                        <img src="./assets/img/img2.jpg" alt="Post img">
                    </div>
                    <div class="post__icons">
                        <span class="icon-calendar">13 Febr 2018</span>
                        <a  href="" class="icon-comments">23</a>
                        <a  href="" class="icon-heart"></a>
                    </div>
                    <div class="post__text">
                        <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>

                           <p> Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</p>

                    </div>
                    <div class="post__author">
                        <div class="img">
                            <img src="./assets/img/author.jpg" alt="Name">
                        </div>
                        <div class="name">
                            <p>Nombre</p>
                            <p>Apellido del autor</p>
                        </div>

                    </div>


                </article>
            </div>
            <div class="post-content__small">
                <article class="post post--small">
                    <div class="post__img">
                        <img src="./assets/img/img1.jpg" alt="Post img">
                    </div>
                    <div class="post__icons">
                        <span class="icon-calendar">13 Febr 2018</span>
                        <a  href="" class="icon-comments">23</a>
                        <a  href="" class="icon-heart"></a>
                    </div>
                    <div class="post__text">
                        <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                        <p>In this article, I’ll explain how we handle community pull requests while avoiding storing […]</p>

                    </div>
                    <div class="post__author">
                        <div class="img">
                            <img src="./assets/img/author.jpg" alt="Name">
                        </div>
                        <div class="name">
                            <p>Nombre</p>
                            <p>Apellido del autor</p>
                        </div>

                    </div>


                </article>
                <article class="post post--small">
                    <div class="post__img">
                        <img src="./assets/img/img1.jpg" alt="Post img">
                    </div>
                    <div class="post__icons">
                        <span class="icon-calendar">13 Febr 2018</span>
                        <a  href="" class="icon-comments">23</a>
                        <a  href="" class="icon-heart"></a>
                    </div>
                    <div class="post__text">
                        <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                        <p>In this article, I’ll explain how we handle community pull requests while avoiding storing […]</p>

                    </div>
                    <div class="post__author">
                        <div class="img">
                            <img src="./assets/img/author.jpg" alt="Name">
                        </div>
                        <div class="name">
                            <p>Nombre</p>
                            <p>Apellido del autor</p>
                        </div>

                    </div>


                </article>
                <article class="post post--small">
                    <div class="post__img">
                        <img src="./assets/img/img1.jpg" alt="Post img">
                    </div>
                    <div class="post__icons">
                        <span class="icon-calendar">13 Febr 2018</span>
                        <a  href="" class="icon-comments">23</a>
                        <a  href="" class="icon-heart"></a>
                    </div>
                    <div class="post__text">
                        <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                        <p>In this article, I’ll explain how we handle community pull requests while avoiding storing […]</p>

                    </div>
                    <div class="post__author">
                        <div class="img">
                            <img src="./assets/img/author.jpg" alt="Name">
                        </div>
                        <div class="name">
                            <p>Nombre</p>
                            <p>Apellido del autor</p>
                        </div>

                    </div>


                </article>
                <article class="post post--small">
                    <div class="post__img">
                        <img src="./assets/img/img1.jpg" alt="Post img">
                    </div>
                    <div class="post__icons">
                        <span class="icon-calendar">13 Febr 2018</span>
                        <a  href="" class="icon-comments">23</a>
                        <a  href="" class="icon-heart"></a>
                    </div>
                    <div class="post__text">
                        <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                        <p>In this article, I’ll explain how we handle community pull requests while avoiding storing […]</p>

                    </div>
                    <div class="post__author">
                        <div class="img">
                            <img src="./assets/img/author.jpg" alt="Name">
                        </div>
                        <div class="name">
                            <p>Nombre</p>
                            <p>Apellido del autor</p>
                        </div>

                    </div>


                </article>
                <article class="post post--small">
                    <div class="post__img">
                        <img src="./assets/img/img1.jpg" alt="Post img">
                    </div>
                    <div class="post__icons">
                        <span class="icon-calendar">13 Febr 2018</span>
                        <a  href="" class="icon-comments">23</a>
                        <a  href="" class="icon-heart"></a>
                    </div>
                    <div class="post__text">
                        <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                        <p>In this article, I’ll explain how we handle community pull requests while avoiding storing […]</p>

                    </div>
                    <div class="post__author">
                        <div class="img">
                            <img src="./assets/img/author.jpg" alt="Name">
                        </div>
                        <div class="name">
                            <p>Nombre</p>
                            <p>Apellido del autor</p>
                        </div>

                    </div>


                </article>
                <article class="post post--small">
                    <div class="post__img">
                        <img src="./assets/img/img1.jpg" alt="Post img">
                    </div>
                    <div class="post__icons">
                        <span class="icon-calendar">13 Febr 2018</span>
                        <a  href="" class="icon-comments">23</a>
                        <a  href="" class="icon-heart"></a>
                    </div>
                    <div class="post__text">
                        <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                        <p>In this article, I’ll explain how we handle community pull requests while avoiding storing […]</p>

                    </div>
                    <div class="post__author">
                        <div class="img">
                            <img src="./assets/img/author.jpg" alt="Name">
                        </div>
                        <div class="name">
                            <p>Nombre</p>
                            <p>Apellido del autor</p>
                        </div>

                    </div>


                </article>
            </div>

        </section>

        <div class="interest-and-side">
            <section class="post-interest">
                <div class="title">
                    <h2>QUIZAS TE PUEDA INTERESAR…</h2>
                </div>

                <article class="post post--landscape">
                    <div class="post__img">
                        <img src="./assets/img/img1.jpg" alt="Post img">
                    </div>
                    <div>
                        <div class="post__icons">
                            <span class="icon-calendar">13 Febr 2018</span>
                            <a  href="" class="icon-comments">23</a>
                            <a  href="" class="icon-heart"></a>
                        </div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p>In this article, I’ll explain how we handle community pull requests while avoiding storing […]</p>

                        </div>
                        <div class="post__author">
                            <div class="img">
                                <img src="./assets/img/author.jpg" alt="Name">
                            </div>
                            <div class="name">
                                <p>Nombre</p>
                                <p>Apellido del autor</p>
                            </div>

                        </div>
                    </div>
                </article>
                <article class="post post--landscape">
                    <div class="post__img">
                        <img src="./assets/img/img1.jpg" alt="Post img">
                    </div>
                    <div>
                        <div class="post__icons">
                            <span class="icon-calendar">13 Febr 2018</span>
                            <a  href="" class="icon-comments">23</a>
                            <a  href="" class="icon-heart"></a>
                        </div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p>In this article, I’ll explain how we handle community pull requests while avoiding storing […]</p>

                        </div>
                        <div class="post__author">
                            <div class="img">
                                <img src="./assets/img/author.jpg" alt="Name">
                            </div>
                            <div class="name">
                                <p>Nombre</p>
                                <p>Apellido del autor</p>
                            </div>

                        </div>
                    </div>
                </article>
                <article class="post post--landscape">
                    <div class="post__img">
                        <img src="./assets/img/img1.jpg" alt="Post img">
                    </div>
                    <div>
                        <div class="post__icons">
                            <span class="icon-calendar">13 Febr 2018</span>
                            <a  href="" class="icon-comments">23</a>
                            <a  href="" class="icon-heart"></a>
                        </div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p>In this article, I’ll explain how we handle community pull requests while avoiding storing […]</p>

                        </div>
                        <div class="post__author">
                            <div class="img">
                                <img src="./assets/img/author.jpg" alt="Name">
                            </div>
                            <div class="name">
                                <p>Nombre</p>
                                <p>Apellido del autor</p>
                            </div>

                        </div>
                    </div>
                </article>
            </section>

            <aside class="post-top">
                <h2>ARTÍCULOS MÁS LEIDOS</h2>

                <article class="post post--top">
                    <div class="post__author-img">
                        <img src="./assets/img/author.png" alt="Name">
                    </div>
                    <div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p class="author-name">Apellido del autor</p>
                            <div class="post__icons">
                                <span class="icon-calendar">13 Febr 2018</span>
                                <a  href="" class="icon-comments">23</a>
                                <a  href="" class="icon-heart"></a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post post--top">
                    <div class="post__author-img">
                        <img src="./assets/img/author.png" alt="Name">
                    </div>
                    <div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p class="author-name">Apellido del autor</p>
                            <div class="post__icons">
                                <span class="icon-calendar">13 Febr 2018</span>
                                <a  href="" class="icon-comments">23</a>
                                <a  href="" class="icon-heart"></a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post post--top">
                    <div class="post__author-img">
                        <img src="./assets/img/author.png" alt="Name">
                    </div>
                    <div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p class="author-name">Apellido del autor</p>
                            <div class="post__icons">
                                <span class="icon-calendar">13 Febr 2018</span>
                                <a  href="" class="icon-comments">23</a>
                                <a  href="" class="icon-heart"></a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post post--top">
                    <div class="post__author-img">
                        <img src="./assets/img/author.png" alt="Name">
                    </div>
                    <div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p class="author-name">Apellido del autor</p>
                            <div class="post__icons">
                                <span class="icon-calendar">13 Febr 2018</span>
                                <a  href="" class="icon-comments">23</a>
                                <a  href="" class="icon-heart"></a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post post--top">
                    <div class="post__author-img">
                        <img src="./assets/img/author.png" alt="Name">
                    </div>
                    <div>
                        <div class="post__text">
                            <h3>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</h3>
                            <p class="author-name">Apellido del autor</p>
                            <div class="post__icons">
                                <span class="icon-calendar">13 Febr 2018</span>
                                <a  href="" class="icon-comments">23</a>
                                <a  href="" class="icon-heart"></a>
                            </div>
                        </div>
                    </div>
                </article>

            </aside>

        </div>

    </div>
</main>

<%- include('includes/footer.html')%>