<%- include('includes/header.html')%>
<main id="page-post-detail">
    <section class="container">
        <article class="post-detail">
            <img src="https://placeimg.com/840/880/any" alt="" class="post-detail__main-img">

            <div class="post-detail__text">
                <p>Algolia Search Party is a monthly Meetup we organize around a common theme that makes fellow devs’ lives easier. Topics have included Laravel, static websites and, this month, React and some cool things you can do with it.</p>
                <p>Since the talks were useful and well received, we are sharing summaries and videos with you.</p>
                <h2>CodeSandbox: your IDE in a browser</h2>
                <p>Algolia Search Party is a monthly Meetup we organize around a common theme that makes fellow devs’ lives easier. Topics have included Laravel, static websites and, this month, React and some cool things you can do with it.</p>
                <p>Since the talks were useful and well received, we are sharing summaries and videos with you.</p>
                <p>Algolia Search Party is a monthly Meetup we organize around a common theme that makes fellow devs’ lives easier. Topics have included Laravel, static websites and, this month, React and some cool things you can do with it.</p>
                <p>Since the talks were useful and well received, we are sharing summaries and videos with you.</p>
                <h2>CodeSandbox: your IDE in a browser</h2>
                <p>Algolia Search Party is a monthly Meetup we organize around a common theme that makes fellow devs’ lives easier. Topics have included Laravel, static websites and, this month, React and some cool things you can do with it.</p>
                <p>Since the talks were useful and well received, we are sharing summaries and videos with you.</p>
                <p>Algolia Search Party is a monthly Meetup we organize around a common theme that makes fellow devs’ lives easier. Topics have included Laravel, static websites and, this month, React and some cool things you can do with it.</p>
                <p>Since the talks were useful and well received, we are sharing summaries and videos with you.</p>
            </div>

            <div class="author">
                <div class="img">
                    <img src="./assets/img/author.png" alt="">
                </div>
                <div class="name">
                    <p>Nombre</p>
                    <p>Apellido</p>
                </div>
                
            </div>
        </article>

        <article class="post-detail__comments">
            <p>Comentarios:</p>

            <div class="comments">
            </div>

            <form  novalidate class="comments-form">
                <p>Escribe un comentario:</p>
                <div class="fields">
                    <div class="row">
                        <div class="column-1-2 field">
                            <input type="text" placeholder="Nombre" name="name" id="name" required>
                        </div>

                        <div class="column-1-2 field">
                            <input type="text" placeholder="Apellido" name="lastname" id="lastname" required>
                        </div>

                    </div>
                    <div class="field">
                        <input type="email" placeholder="Email" name="email" id="email" required>
                    </div>
                    <div class="field">
                        <textarea name="comment" id="comment" required></textarea>
                    </div>

                    <div class="field">
                        <button class="button-text button-primary">Enviar</button>
                    </div>
                </div>
            </form>

        </article>
        
    </section>

</main>
<%- include('includes/footer.html')%>